<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img-principales/fotomia.jpg" class="img-fluid" id="perfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Flores Jose Andres</p>
        <p>Developer Full Stack</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h1>Acerca de mi</h1>

        <span>
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Molestiae eaque consequuntur maxime officia repellendus blanditiis reprehenderit accusamus ad. 
            Officiis amet molestias itaque eveniet quis porro, 
            distinctio aliquid autem nemo beatae.
        </span>

    </div>

</div>
