.row{
    padding: 20px;
}

div{
    background-color: bisque;
}

h3{
    display: inline;
    text-decoration: grey;
}

h1{
    background-color: aquamarine;
}

.new{
    display: flex;
    justify-content: right;
}


@media (max-width:575px) {

    .pantalla{
        display: flex;
        flex-direction: column;
    }
    .min{
        font-size: small;
    }

}