<div class="row">

    <div class="col-md-12">
        <h1>Experiencia Laboral</h1>
        <button type="button">New</button>
    </div>

    <div class="col-md-11">

        <table class="table">
            <tbody>
                <tr *ngFor="let exp of experiencia">
                    <td>{{exp.titulo}} - {{exp.years}}</td>
                    <td>{{exp.descripcion}}</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </tbody>
        </table>
         

    </div>

</div>
