<div class="row">


    <div class="col-md-12">
        <h1>Experiencia Laboral</h1>
        <div class="new">
            <button type="button" class="btn btn-dark" routerLink="/nuevaexperiencia" *ngIf="isLogged">New Experiencia</button>
        </div>
        

    </div>

    <div class="col-md-11">
        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <td><h3>Nombre</h3></td>
                        <td><h3>Descripcion</h3></td>
                        <td><h3>Operaciones</h3></td>
                    </tr>
                    <tr *ngFor="let exp of experiencia">
                        <td>"{{exp.titulo}}" - "{{exp.years}} año/s"</td>
                        <td>"{{exp.descripcion}}"</td>
                        <td *ngIf="isLogged"><button class="btn btn-light" style="background-color: aqua;" routerLink="editarexperiencia/{{exp.id}}"><i
                                    class="bi bi-folder-plus"></i>Edit</button></td>
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(exp.id)"><i
                                    class="bi bi-folder-minus"></i>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>