<div class="login" *ngIf="persona">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Modificar Principal</h2>
  
    <form class="login-container" (ngSubmit)="Modify()" novalidate #f="ngForm">
      <p><input type="text" placeholder="apellido" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required></p>
      <p><input type="text" placeholder="nombre" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required></p>
      <p><input type="text" placeholder="titulo" id="titulo" name="titulo" [(ngModel)]="persona.titulo"></p>
      <p><input type="file" placeholder="img" id="img" name="img" accept=".jpg, .jpeg, .png" [(ngModel)]="persona.img" (change)="cargarImage($event)"></p>
      <button value="Crear" class="btn btn-dark crear">Modificar</button>
    </form>
  </div>
