<div>
    <a href="https://github.com/JoseSabeckis"><img src="../../../assets/img-principales/github.png" id="github"></a>
    <a href="https://www.linkedin.com/in/jose-andres-flores-37a730140/"><img src="../../../assets/img-principales/linkedin.png" id="linkedin"></a>
    <a href="https://www.facebook.com/jose.flores.73700/"><img src="../../../assets/img-principales/facebook.png" id="facebook"></a>
    <a href="https://www.instagram.com/joseflores_kpo/"><img src="../../../assets/img-principales/instagram.png" id="instagram"></a>
    <a href="https://twitter.com/JoseFlo58208619"><img src="../../../assets/img-principales/twitter.png" id="twitter"></a>
    <button class="btn btn-secondary" type="button" (click)="login()" *ngIf="!isLogged">Login</button>
    <button class="btn btn-secondary" type="button"(click)="onLogOut()" *ngIf="isLogged">Close</button>
</div>
